HATABOT_TELEGRAM_BOT_TOKEN=123456789:replace_with_your_bot_token
HATABOT_TELEGRAM_CHAT_ID=123456789
HATABOT_TELEGRAM_CHAT_IDS=123456789,987654321
HATABOT_2GIS_API_KEY=replace_with_your_2gis_key
HATABOT_SETTINGS_WEBAPP_URL=
